@import "tailwindcss";

.header-main-container {
  @apply w-full h-20 sticky top-0 z-50 bg-white shadow-md flex items-center px-8 justify-between;
}

.header-logo {
  @apply w-16 h-auto cursor-pointer select-none;
}

.navbar-container {
  @apply flex justify-center flex-1 gap-6 text-[19px]; /* center navbar, small gaps */
}

.signin-container {
  @apply flex items-center gap-4;
}
