@import "tailwindcss";

.input-properties{
    @apply bg-white! border border-black outline-none w-10/12! px-1!;
}

input[type="radio"] {
  appearance: none;
  width: 20px; 
  height: 20px; 
  border: 1px solid #000000; 
  border-radius: 50%; 
  background-color: #f0f0f0; 
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #007bff;
  border: 1px solid #000000; 
}

input[type="radio"]:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

