@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  @apply overflow-x-hidden font-[Poppins] flex flex-col w-full;
}


.main-container{
  @apply w-svw h-svh bg-white flex flex-col overflow-y-auto overflow-x-hidden ;
    scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.main-container::-webkit-scrollbar {
  width: 6px;
}

.main-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.main-container::-webkit-scrollbar-track {
  background: transparent;
}

.body-container{
  @apply w-svw h-auto bg-green-400;
}


